BODY {
    -webkit-font-smoothing: antialiased;
    font-family: 'Poiret One', cursive;
    height: 100%;

    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #282931); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #282931); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #282931); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #282931);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

canvas {
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0px;
}

a {
    color: #bbbbc4;
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
}

a:hover {
    color: #fc3565;
}

img {
    border-radius: 50%;
}

h1 {
    color: #fc3565;
    padding-bottom: 0px;
    margin-bottom: 1%;
}

h2 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

p {
    color: #ffffff;
    font-size: 1.7rem;
    margin-top: 1%;
}

.one-third {
   width: 30%;
}

.vertical-line {
    border-left: 6px solid black;
    height: 100px;
}

.logo {
    font-family: 'Monoton', cursive;
    color: lawngreen;
    font-size: 8rem;
}

.top {
    padding-bottom: 5rem;
    display: flex;
}

.middle {
    padding-bottom: 5rem;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulled {
}

.pulled ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
}

.pulled h1 {
    color: white;
    font-size: 3rem;
}

.pulled ul li span {
    font-size: 1.2rem;
}

.footer {
    padding-top: 5rem;
}

.footer p {
    color: white;
    font-size: 1.2rem;
}

/* Mobile first queries */

/* Larger than mobile */

@media (min-width: 400px) {
}

/* Larger than phablet */

@media (min-width: 550px) {
}

/* Larger than tablet */

@media (min-width: 750px) {
}

/* Larger than desktop */

@media (min-width: 1000px) {
}

/* Larger than Desktop HD */

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}
