{% extends "base.html" %}

{% block content %}
    <h1>Schedule Interviews</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        
        
        {% from "_formhelpers.html" import render_field %}
        
            {{ form.title.label}}    
            {{ form.title(size=32)}}
            
            <dl>
                {{ render_field(form.students) }}
                {{ form.hidden_tag() }}
                {% for error in form.students.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ render_field(form.interviewee) }}
                {{ form.hidden_tag() }}
                {% for error in form.interviewee.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </dl>
                {{ form.date.label}}
                {{ form.date(class="dtpick") }}
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <dl>
                {{ render_field(form.startTime) }}
                {{ render_field(form.duration)}}
            </dl>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}