{% extends "base.html" %}

{% block content %}
<h1>List Interviews</h1>
<table border="1" cellpadding=3>
    <tr>
        <th>Interview</th>
        <th>Student</th>
        <th>Interviewee</th>
        <th>Date</th>
        <th>Time</th>
    </tr>
{% for interview in interviews %}
    <tr>
        <td>{{ interview.title }}</td>
        <td>{{ interview.studentEmail}}</td>
        <td>{{ interview.bookerEmail}}</td>
        <td>{{ interview.date}}</td>
        <td>{{ interview.time}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}